<html lang="fr">
<body>

    <div class="containerA">
    <h1>{{ user.username}}</h1>
        <div class="nav_main"> <div class="about_us">How are you ?</div> </div>
        <div class="nav-menu">
            <label class="nav-title" for="username"> Username :</label>
            <ul class="list-group">
              <form id="login_form">
                  <input type="text" name="username" id="loginUsername" placeholder="Enter Your username ...">
                  <div class="search_box">
                    <input type="submit" class="btn_lauch"  value="Start">
                </div>
              </form>
            </ul>
        </div>

    </div>
</body>
</html>
