<html lang="fr">
<body>
    <div class="containerA">

        <div class="nav_main"> <div class="about_us">About Us</div> </div>
        <div class="nav-menu">
            <div class="nav-title"> Cartes</div>
            <ul class="list-group">
                    <a routerLink="solo" class="list-item1" >
                        <div class="icons">
                          <img src="./../../assets/Icons/png/man-user.png" alt="solo-icon">
                        </div>
                        <div class="title_solo"> Solo</div>
                    </a>
                    <a routerLink="multijoueurs" class="list-item2">
                        <div class="icons">
                            <img src="./../../assets/Icons/png/Groups.png" alt="group-icon">
                        </div>
                        <div class="title-multijoueur"> Multijoueurs</div>
                    </a>
                    <div class="list-item3">
                        <div class="icons">
                          <img src="./../../assets/Icons/png/settings1.png" alt="settings-icon">
                        </div>
                        <div class="title-setting">Paramètre</div>
                    </div>
                </ul>
                <div class="footer">
                        <div class="bar"></div>
                        <div class="copyright">Copyright Tchat'At inc 2019</div>
                </div>
        </div>

    </div>
</body>
</html>
